.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  width: 360px;
  border-radius: 5px;
  padding: 10px;
  background-color: #567d6b;
}

.formFieldInput {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 20px;
}

input {
  background-color: #fff9ed;
  border: none;
  padding: 8px;
}

button {
  font: inherit;
  background-color: lightgray;
  height: 35px;
  width: 150px;
  cursor: pointer;
}

span {
  color: #e1f3e5;
}
